a{
    text-decoration: none;
    
}



.Login-image{
    display: flex;
    
    width: 100%;
    height: 18rem;
    overflow: hidden;
    margin: 0px;
   background-image: url("https://cdn.pixabay.com/photo/2018/01/19/06/26/handymen-3091826_1280.jpg");
   background-position: 0% 30%;
   background-color: rgb(100, 97, 97);
   background-blend-mode: multiply;
    align-items: center;
    justify-content: center;
}

.Login-mainhead{
    color: black;
    font-size: 2rem;
    margin: 0px;
}

.Login-subhead{
    color: rgb(117, 115, 115);
    font-size: 1rem;
    margin: 0px;
}


.Login-heading{
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    align-items: start;
    gap: 10px;
    font-weight: bolder;

}


.Image-div{
   background: url("https://cdn.pixabay.com/photo/2014/11/02/10/41/plane-513641_1280.jpg") no-repeat center;
   background-size: cover; 
   padding: 20px;
   border-radius: 0px 10px 10px 0px;
   width: 23rem;

}

.Image-divAdmin{
background: url("https://cdn.pixabay.com/photo/2017/10/11/11/43/multitasking-2840792_1280.jpg") no-repeat center;
   background-size: cover; 
   padding: 20px;
   border-radius: 0px 10px 10px 0px;
   width: 23rem;
}

.Service-type{
    padding: 10px;
    border: rgb(226, 232, 246) solid;
    border-radius: 3px;
}

.Image-divProvider{
    background: url("https://cdn.pixabay.com/photo/2020/04/01/15/33/air-4991613_1280.jpg") no-repeat center;
   background-size: cover; 
   padding: 20px;
   border-radius: 0px 10px 10px 0px;
   width: 23rem;
}

.Signup-card{
    display: flex;
    margin: 30px;
    justify-content: center;
}

.Form{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    text-align: left;
    gap: 20px;
    padding: 30px;
    width: 23rem;
    height: 35rem;
    box-shadow: 10px 10px 40px rgb(202, 226, 246);
    border-radius: 10px 0px 0px 10px;

}

.Form-signup{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    text-align: left;
    gap: 0px;
    padding: 30px;
    width: 23rem;
    height: 40rem;
    box-shadow: 10px 10px 40px rgb(202, 226, 246);
    border-radius: 10px 0px 0px 10px;
}

.Form-Provider{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    text-align: left;
    gap: 20px;
    padding: 30px;
    width: 23rem;
    box-shadow: 10px 10px 40px rgb(202, 226, 246);
    border-radius: 10px 0px 0px 10px;
}

.Error-signup{
    color: red;
    margin: 0px;
    padding: 0px;
}

.Signup-Label{
    margin-bottom: -30px;
    margin-left: 10px;
    z-index: 2;
    background-color: white;
    width: fit-content;
}

.AdminSignup-Label{
    margin-bottom: -30px;
    margin-left: 10px;
    z-index: 2;
    background-color: white;
    width: fit-content;
}

.Join-Label{
    margin-bottom: -30px;
    margin-left: 10px;
    z-index: 2;
    background-color: white;
    width: fit-content;
}

.Signup-Input{
    padding: 10px;
    border: rgb(226, 232, 246) solid;
    border-radius: 3px;
    
}

.Signup-Pwdbox{
    display: flex;
    width: 100%;
    border: rgb(226, 232, 246) solid;
    border-radius: 3px;
    align-items: center;
    justify-content: space-around;
    padding-right: 5px;
}

.Signup-Pwdbox:focus-within{
    border: rgb(20, 106, 191) solid;
    border-radius: 3px;
}
.Signup-InputPwd{
    border: none;
    padding: 10px;
    width: 90%;
    outline: none;
}

.fa-solid{
    cursor: pointer;
}

.Button-Signup{
    background-color: dodgerblue;
    font-weight: bold;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    transition-duration: 1s;
}

.Button-Signup:hover{
    background-color: rgb(16, 95, 174);
    cursor: pointer;
}

.Already{
    display: flex;
    gap: 10px;
    text-align: center;
}

.Primary-Signup{
    color: #242424;
    margin: 0px;
}

.Secondary-Signup{
    color: dodgerblue;
    margin: 0px;  
}

.Signup-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0px;
}

.Signup-heading{
    margin: 0px;
    color: black;
    font-weight: bolder;
}
.Signup-ptag{
    margin: 0px;
    color: #4b4a4a;
}

.Login-sec2{
    display: flex;
    justify-content: space-between;

}
.Remember{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.Remember-ptag{
    color: #4b4a4a;
    margin: 0px;
}
.Forget{
    color: dodgerblue;
    margin: 0px;
}

.Form-Admin{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    text-align: left;
    gap: 20px;
    padding: 30px;
    width: 23rem;
    height: 35rem;
    box-shadow: 10px 10px 40px rgb(202, 226, 246);
    border-radius: 10px 0px 0px 10px;

}

.Form-Provider{

}

@media only screen and (max-width: 600px) {

    .Image-div{
        display: none;
    }
    

    
    .Login-content{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 20px;
        box-shadow: 10px 10px 40px rgb(202, 226, 246);
        overflow: hidden;
        height: 550px;
        gap: 30px;
        border-radius: 10px 0px 0px 10px;
        justify-content: center;
        width: 100%;
    }

    .Form{
        
        
        width: 20rem;
        height: 30rem;
        box-shadow: 10px 10px 40px rgb(202, 226, 246);
        border-radius: 10px;
    
    }

    .Form-Admin{
        width: 23rem;
        height: 35rem;
        box-shadow: 10px 10px 40px rgb(202, 226, 246);
        border-radius: 10px;
    }
    .Image-divAdmin{
        display: none;
    }

    .Image-divProvider{
        display: none;
    }

}
